@function px2rem($px) {
  $rem : 37.5px;
  @return ($px / $rem) + rem;
}
.bottom_bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px2rem(50px);
  display: flex;
  border-top: 1px solid #b6b6b6;
  background-color: rgba(246,246,246,0.95);
  .items {
    text-decoration: none;
    flex: 1;
    font-size:px2rem(11px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999;
    .tab_icon {
      margin-bottom: px2rem(4px);
      width: px2rem(25px);
      height: px2rem(25px);
      background-size: cover;
    }
    &.active {
      color: #000;
    }
    &.my.active {
      .tab_icon {
        background-image: url('../../assets/images/myIconActive.png');
      }
    }
    &.my {
      .tab_icon {
        background-image: url('../../assets/images/myIcon.png');
      }
    }
    &.order {
      .tab_icon {
        background-image: url('../../assets/images/orderIcon.png');
      }
    }
    &.order.active {
      .tab_icon {
        background-image: url('../../assets/images/orderIconActive.png');
      }
    }
    &.home {
      .tab_icon {
        background-image: url('../../assets/images/homeIcon.png');
      }
    }
    &.home.active {
      .tab_icon {
        background-image: url('../../assets/images/homeIconActive.png');
      }
    }
  }
}